.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ace4c4;
  height: 155px;
  padding: 10px 25px;
}

#logo {
  font-size: 50px;
  font-weight: 800;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}

.header-links {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.header-links a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: color 0.3s, transform 0.3s;
}

.header-links a:hover {
  color: gray;
  transform: scale(1.1);
}

.header img {
  width: 180px;
  height: 100%;
}

@media (max-width: 768px) {
  .header-links {
    flex-direction: column;
    gap: 10px;
  }
}
