.home-container {
  height: 100vh;
  background-color: #f4f4ec;
  padding: 15px;
}

#input-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  gap: 1rem;
}

.form-group {
  width: 100%;
  min-width: 300px;
}
