.onboarding-second-container {
  height: 100vh;
  background-color: #f4f4ec;
  padding: 15px;
}

.onboarding-form {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.second-step {
  height: 100vh;
  background-color: #f4f4ec;
}

.second-step label {
  display: block;
  text-align: center;
  justify-content: center;
}

#submit-button {
  margin-top: 25px;
}

#about-me-input {
  width: 525px;
  height: 85px;
}
